/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Roboto, Helvetica, Helvetica Neue, Arial;
    font-weight: 100;
    background: #fff;
}

.wrapper {
    max-width: 1300px;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    height: 72px;
    background-color: #fff;
    color: #aaa;
    width: 100%;
    position: relative;
    z-index: 100;
}

.sticky {
    position: fixed;
    opacity: 0.95;
}

.padded {
    padding-top: 72px;
}

.main-container {
    overflow: hidden;
    margin: 0;
}

.visible {
    opacity: 1;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;    
}

.header-content {
    position: relative;
    z-index: 100;
}
.footer-container {
    background-color: #646464;
    min-height: 200px;
    vertical-align: middle;
    padding-top: 2em;
    padding-bottom: 1em;
    position: relative;
    width: 100%;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.section-banner {
    font-size: 2.25em;
    font-weight: 100;
    line-height: 1.25em;
    text-align: center;
    margin: 0;
}

.on-top {
    display: table-cell;
    position: relative;
    font-size: 4em;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
}

.imageHolder {
    display: table;
}

/*** Header ***/
.navigation {
    position: relative;
    overflow: visible;
    text-align: left;
}

.navBranding {
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
}

.zilliLogo, .zilliSlogan {
    display: block;
    clear: both;
    margin: 0 auto 0 auto;
}

.zilliLogo {
    margin-bottom: 10px;
}

.navBar {
    padding: 0;
    margin: 0.3em 0 0 175px;
    display: block;
    float: left;
}

.navItem {
    text-transform: uppercase;
    font-size: 0.5em;
    font-weight: 400;
    display: inline;
    margin: 0px 20px 0px 20px;
}   

.buyButton {
    width: 165px;
    display: block;
    float: right;
    margin: 0.7em 0 0 175px;    
    font-size: 0.5em;
    font-weight: 400;
    text-align: center;
    border: 1px solid #EEA236;
    border-radius: 5px;
    background-color: #F8D56D;
    color: #000;
}

/*** Hero ***/
.section-banner--hero {
    background-color: #1999D5;
    background-image: url('../img/bezilli/zilli-bkpattern.png');
    color: #fff;
    text-align: left;
}

.heroTitle {
    font-size: 2.5em;
    font-weight: 400;
    margin: 1.8em 0 0.3em 0;
}

.heroSubtitle {
    font-size: 1.2em;
    /*font-weight: 400;*/
    margin: 0;
}

.formLegend {
    font-size: 0.9em;
    margin: 1.5em 0 0 0;
}

.heroImg {
    display: block;
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
}

.hero-playButton {
    opacity: 0.7;
}

.hero-playButton:hover {
    opacity: 1;
}

.email, .button {
    margin: 0;
    padding: 0.25em 1em;
    font: Roboto, Helvetica, Helvetica Neue, Arial;
    font-weight: 100;
    font-size: 0.9em;
    display: inline-block;
    box-sizing: border-box;
}

.email {
    border: 1px solid #dad9d7;

}

.button {
}

input[type="email"]:focus {
    border: 1px solid #f9d254;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.button {
    background-color: #F8D56D;
    color: #fff;
    border: 1px solid #f8d56d;
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
}

.safeEmail {
    display: block;
    clear: both;
    font-size: .5em;
    margin-bottom: 2em;
}

/*** Home ***/
.section-banner--home {
    background-color: #fff;
    color: #000;
}

.participate {
    max-width: 290px;
    display: inline-block;
    vertical-align: top;
    padding: 5px;
}

.participate-step {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 0.3em;
}

.participate-text {
    margin-top: 0;
    font-size: 0.7em;    
    line-height: 1.2em;
}

#home-bezillions {
    margin: 1em 0;
}

/*** Featured ***/
.section-banner--featured {
    background-color: #fff;
    color: #000;
}

.ringmaster {
    position: absolute;
    right: 0;
    top: -135px;
}

#featured-bezillions {
    margin: 1em 0;
}

/*** Social ***/
.section-banner--social {
    background-color: #fff;
    color: #000;
}

.selfie {
    position: absolute;
    right: 0;
    top: -200px;
}

#social-bezillions {
   margin: 1em 0; 
}

.challenge {
    margin-top: 2em;
    max-width: 100%;
}

.why-copy, .how-copy {
    margin-top: 2em;
    margin-bottom: 2em;
}

.who-copy {
    margin-top: 2em;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

.carousel {
    display: table-cell !important;
    vertical-align: middle;
}

.owl-item img {
    max-width: 100%;
}

.logo {
    margin-bottom: 1em;
}

.logo > a > img {
    vertical-align: text-top;
}

.logo > a {
    text-decoration: none;
}

.logo > a:link, .logo > a:visited, .logo > a:active {
    color: #fff;
}

.logoIcon {
    margin-left: 15px;
    margin-right: 15px;
}

.press {
    margin-bottom: 2em;
    max-width: 100%;
}

.kickstarter-logo {
    float: left;
}

.cardSpread {
    width: 100%;
    margin-bottom: 2em;
}

.centerMaker {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.helixLogo {
    display: block;
    float: left;
    margin-top: 60px;

}

.social {
    position: relative;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
}

#instafeed {
    width: 110%;
    height: 300px;
    opacity: 0.5;
    overflow: hidden;
}

.testimonial {
    font-size: 0.7em;
    font-style: italic;
}

.topCircle {
    background-color: #646464;
    color: #fff;
    font-size: 1.25em;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: table;
    vertical-align: middle;
    text-align: center;
    position: absolute;
    top: -40px;
    left: 50%;
    margin-left: -40px;

}

.topCircle a, .topCircle a:link, .topCircle a:visited {
    text-decoration: none;
    color: #fff;
}

.topCircleText {
    display: table-cell;
    vertical-align: middle;
    font-size: 1em;
    line-height: 1em;
    font-weight: 400;
}

.footerCopy {
    display: block;
    float: right;
    color: #fff;
    text-align: right;
    line-height: 0.5em;
    margin-top: 45px;
    margin-right: 20px;
}

.cc {
    display: block;
    float: right;
    margin-top: 75px;
}

input {
    max-width: 100%;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media screen and (max-device-width: 768px) {
    .backgroundVideo { display: none; }
}

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {
    .background01, .background02 { display: none; }

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    /*
    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }
    */

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}




@media only screen and (min-width: 1140px) {
    .background01, .background02 { display: none; }

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        max-width: 1300px;
        margin: 0 auto;
        position: relative;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}